.topnav {
    background-color: aqua;
}

/* .title {
    font-weight: 400;
    color: aqua;
}

#main {
    background-color: aqua;
}

.menu-img { */
    /*    height: 75px;*/
    /* height: 100%;
    width: auto;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: var(--primary-white);
}

.menu-item {
    color: var(--primary-white);
    padding: .5rem 1rem;
    display: block;
} */
