:root {
  --primary-light: #0297d0;
  --primary-middle-color: #264b78;
  --primary-dark: #132554;
  --rich-black: #040404;
  --primary-white: white;
  --primary-grey: #b7bdcb;
  --secondary-grey: #737e9a;
}

.primary-logo {
  content: url("/images/logo_size.jpg");
}

.github {
  content: url("/images/GitHub-Mark-Light-32px.png");
}

.linkedin {
  content: url("/images/In-White-28px-R.png");
}

.portsmouth {
  content: url("/images/portsmouth.png");
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
 
#menu-component {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;
}

#menu-component :hover {
  background-color: var(--primary-dark);
}

.background-dark {
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.background-light {
  background-color: var(--primary-white);
  color: var(--primary-dark);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-horizontal, .main-nav {
  display: none;
  list-style-type: none
}

.main-nav-horizontal, .main-nav li {
  text-align: right;
  text-decoration: none;
  font-size: 26px;
}

.menu-img {
  padding-left: 1rem;
}

.logo-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.name {  
  font-size: 35px;
  color: var(--primary-white);
}

.nav-links {
  text-decoration: none;
  columns: black;
  color: var(--primary-white)
}

.navbar-toggle {
  width: 30px;
  height: 30px;
  float: right;
  margin: 10px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer; 
  background-color: inherit;
  color: var(--primary-white);
}

.active {
  display: block;
}

body {
  background-color: var(--primary-white);
  color: var(--rich-black);
}

section {
  display: flex;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  position: relative;
  place-items: flex-start center;
}

.background-image {
  position: relative; 
  height: 100vh;
  width: 100%;
}

.background-image::before {
  content: "";
  background-image: url("/images/portsmouth.png");
  opacity: .3;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.background-image::after {
  display: inline-block;
}

.background-overlay {
  background-color: var(--primary-white);
  opacity: 75%;
}

.primary-content {
  padding-top: 50%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.secondary-content {
  padding-top: 3rem;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1200px;
}

.img-container {
  display: grid;
  place-items: flex-start center;
}

.img-container img {
  max-width: 10rem;
  border-radius: 50%;
  border: 3px solid var(--primary-white);
}

.details {
  display: grid;
  place-items: center;
  padding-top: 1rem;
  font-size: 1rem;
}

.details-collection > *:not(:last-child) {
  margin-bottom: 30px; 
} 

.text {
  padding: 1rem 0rem 0rem 0rem;
}

.standout-text {
  text-align: center;
}

/* card component */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  max-width: 30rem;
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  flex: 0 1 24%;
  background-color: var(--primary-white);
  border-radius: 12px;
  border: 1px solid var(--primary-grey);
  margin-bottom: 2em; 
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card-name {
  font-size: 20px;
  font-weight: 400;
}

.card-content {
  font-size: 14px;

  margin-top: 16px;
  margin-bottom: 16px;
}

.card hr {
  margin-top: 16px;
  border-top: 1px solid var(--primary-dark);
}

.card ul {
  list-style-type: none;

  font-size: 14px;

  margin-bottom: 16px;
}

.card ul img {
  max-width: 14px;
}

.link-try {
  border: none;
  padding: 12px 24px;
  max-width: 80px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;

  font-weight: 100px;
  color: var(--primary-white);
  background-color: var(--primary-dark);

  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.link-try:focus, link-try:hover {
  color: var(--primary-dark);
  background-color: var(--primary-white);
}

.link-git {
  height: 14px;
  padding-left: 5px;
}


/* List design */
.accomplishments ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 35px;
}

.accomplishments ul li::before {
  content: "->";
  position: absolute;
  top: 6px;
  left: 0;
}

@media screen and (min-width: 900px) {

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    align-items: center;
  }

  .complete-nav {
    display: flex;
    flex-direction: row;
  }

  .social-nav {
    justify-self: flex-start;
  }

  .main-nav-horizontal {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-self: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav {
    display: none;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: var(--primary-grey);
  }

  .primary-content {
    padding-top: 15%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .img-container {
    display: grid;
    place-items: flex-start center;
  }
  
  .img-container img {
    max-width: 20rem;
    border-radius: 50%;
    border: 10px solid var(--primary-white);
  }
  
  .details {
    font-size: 2rem;
  }

}
